main {
    padding-top: 16vw;
    padding-left: 7vw;
    padding-right: 7vw;
    flex-grow: 1;
}

@media (max-width: 800px) {
    main {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media (max-width: 400px) {
    main {
        padding-top: 20vw;
    }
}