.section-orbit {
	position: relative;
}

svg {
	width: 100%;
	height: 34vw;
	position: relative;
}

ellipse {
	fill-opacity: 0;
	filter: drop-shadow(0.1vw 0.3vw 0.3vw gray);
	animation: blinking linear 5s infinite;
}

@keyframes blinking {
	0% {
		stroke: #d3d3d374;
		stroke-width: 1.7;
	}
	50% {
		stroke: #e9e9e9;
		stroke-width: 2.7;
	}
	100% {
		stroke: #d3d3d374;
		stroke-width: 1.7;
	}
}