.section-orbit__satellite {
    position: absolute;
    width: 8%;
    /* will-change: filter -- подсказывает браузеру, что в будущем у элемента 
       может измениться свойство filter. Это позволяет браузеру заранее 
       оптимизировать производительность для анимаций или эффектов, которые 
       будут применяться к filter, снижая потенциальные задержки */
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 1em #ffffff7b);
}

.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
}

.vite:hover {
    filter: drop-shadow(0 0 2em #e955f7);
}

.javascript:hover {
    filter: drop-shadow(0 0 2em #fffb00);
}

.framer_motion:hover {
    filter: drop-shadow(0 0 2em #fe65f6);
}

.html:hover {
    filter: drop-shadow(0 0 2em #ff6a1f);
}

.css:hover {
    filter: drop-shadow(0 0 2em #384aef);
}

.jquery:hover {
    filter: drop-shadow(0 0 2em #006eff);
}

.typicode:hover {
    filter: drop-shadow(0 0 2em #149a00);
}