.burger-menu {
    margin-right: 3vw;
}

.burger-menu_button {
    width: 3vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3vw;
}
  
.line {
    width: 100%;
    height: 0.3vw;
    background-color: rgb(245, 236, 236);
    /* transition -- позволяет определять переходное 
       состояние между двумя состояниями элемента. 
       Различные состояния могут быть определены с помощью 
       псевдоклассов, таких как :hover или :active, или 
       установлены динамически с помощью JavaScript.
            transition-property -- задает свойства CSS, 
            к которым следует применить эффект перехода:
                all -- все объекты, которые могут быть преобразованы, 
                будут преобразованы.
            transition-delay -- определяет продолжительность ожидания 
            перед запуском эффекта перехода свойства при изменении 
            его значения.
            transition-timing-function -- устанавливает, как 
            рассчитываются промежуточные значения для свойств CSS, 
            на которые влияет эффект перехода:display:
                ease -- скорость увеличивается к середине перехода 
                и замедляется в конце.
       */
    transition: all 0.3s ease;
}
  
/* Анимация открытия бургер-меню */
.burger-menu_button.open .line:nth-child(1) {
    transform: rotate(45deg) translate(0.35vw, 1.1vw);
}

.burger-menu_button.open .line:nth-child(2) {
    /* opacity -- устанавливает непрозрачность элемента. */
    opacity: 0;
}
  
.burger-menu_button.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(0.35vw, -1vw);
}
  
/* Навигационное меню */
.burger-menu_menu {
    position: fixed;
    top: 7vw;
    right: -100%;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.939);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
}
  
.burger-menu_menu.open {
    right: 0;
}

@media (max-width: 800px) {
    .burger-menu {
        margin-right: 3.5vw;
    }

    .burger-menu_button {
        width: 5vw;
        height: 5vw;
    }

    .line {
        height: 0.6vw;
    }

    .burger-menu_button.open .line:nth-child(1) {
        transform: rotate(45deg) translate(0.4vw, 1.8vw);
    }
      
    .burger-menu_button.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(0.4vw, -1.9vw);
    }

    .burger-menu_menu {
        top: 12.4vw;
        width: 90%;
    }
}

@media (max-width: 400px) {
    .burger-menu {
        margin-right: 5vw;
    }

    .burger-menu_button {
        width: 6.5vw;
        height: 6.5vw;
    }

    .burger-menu_button.open .line:nth-child(1) {
        transform: rotate(45deg) translate(0.7vw, 2.2vw);
    }
      
    .burger-menu_button.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(0.7vw, -2.2vw);
    }

    .burger-menu_menu {
        top: 15.5vw;
    }
}
